*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.header{
  background:aquamarine;
  margin-left:150px;
  margin-top:25px;
  margin-right:150px;
  height:50vh;
}

.navigation{
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.navigation .logo{
  border:3px solid #111;
  border-radius: 8px;
  padding:5px;
  margin:10px;
}

.navigation .logo:hover{
  cursor:pointer;
  background:#fff;
}

.nav ul{
  display:flex;
  align-items: center;
  justify-content:space-around;
  text-decoration:none;
}

.nav ul li{
  list-style:none;
  padding:10px;
}

.nav ul li a{
  text-decoration:none;
  color:#111;
}

.banner,.socials{
  display:flex;
  align-items:center;
  justify-content:center;
  padding-top:70px;
}
